.projects-container {
    margin-bottom:200px;
}

.contact-form {
    max-width: 500px;
    margin-bottom: 250px;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 200px;
}

.resume-container {
    margin-bottom: 200px;
    color: #4a4063;
    justify-content: center;
}

.resume-skills {
    flex-wrap: wrap;
    display: flex !important;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 200px;
}
